.playlist-item {
    background-color:rgb(250, 230, 148);
    color:rgb(218, 215, 51);
    padding: 20px;
    margin: 10px;
    border: 5px lightgrey solid;
    
}

#playing{
    background-color:rgb(216, 19, 52);
    font-weight:bolder;
}